In [1]:
import pandas as pd
import networkx as nx
import itertools

In [2]:
df = pd.read_json("rawfilteredbydate.json")

In [3]:
df.head()

                                             caption       date
0           The Perlman Music Program Class of 2014  2014-08-22
1                  Toby Perlman addresses the crowd  2014-08-22
2   Itzhak Perlman and Catherine Cho perform with... 2014-08-22
3   Julian Beck, Lyn Barlow, Ted Ayala, Elinor He... 2014-08-22
4                           Toby Perlman and guests  2014-08-22

In [4]:
df["caption"] = df['caption'].apply(lambda x: x.replace("\n",""))

In [5]:
df = df[df['caption'].apply(lambda x: len(x)<=250)]

In [22]:
restr = ["The", "Dr", "Verdana", "Helvetica" ,"Chairman","Director",
         "Guests","President","Hospital","Special Surgery","Executive Director"
         ,"New York","Museum","Photographs","Children","The Society","Dinner",
        "Board Member","Castle"]

In [92]:
def replaceWord(s):
    for i in range(len(restr)):
        s = s.replace(restr[i],"")
    s = s.replace("and",",")
    return s

In [9]:
proper_noun_regex = r'([A-Z][A-Za-z-]*(,?\s+(\b(and|von|de|van der|van|der)\b))?(\s[A-Z][A-Za-z\'-]*)*)'

In [10]:
import re

In [23]:
G=nx.MultiGraph()
for caption in df.caption:
    name = []
    caption_temp  = re.findall(proper_noun_regex,caption)
    for j in range(len(caption_temp)):
        name_temp = caption_temp[j]
        if len(name_temp[0])>5:
            if name_temp[0] == "PatrickMcMullan":
                name.append("Patrick McMullan")
            else:
                name.append(name_temp[0])
        for word in restr:
            if word in name:
                name.remove(word)
    if len(name) > 2:
        _=[G.add_edge(c[0],c[1],weight=1) for c in itertools.combinations(name,2)]
    elif len(name) > 1:
        G.add_edge(name[0],name[1],weight=1)

In [24]:
Gg = nx.Graph()
for u,v,data in G.edges_iter(data=True):
    if Gg.has_edge(u,v):
        Gg[u][v]['weight'] += 1
    else:
        Gg.add_edge(u, v, weight=1)

## degrees

In [25]:
degrees=pd.DataFrame(G.degree().values(),index=G.degree().keys()).sort(0,ascending=False)

In [26]:
degrees = degrees.reset_index()

In [27]:
degrees.columns = ["name","number"]

In [28]:
degrees[0:100]

                       name  number
0          Patrick McMullan    2111
1            Jean Shafiroff     689
2           Mark Gilbertson     537
3           Gillian Miniter     463
4        Geoffrey Bradfield     418
5       Alexandra Lebenthal     399
6                  Rob Rich     368
7             Andrew Saffir     337
8              Cutty McGill     332
9               Sharon Bush     331
10          Debbie Bancroft     324
11            Yaz Hernandez     311
12            Somers Farkas     310
13                Alina Cho     310
14                Clockwise     307
15      Muffie Potter Aston     288
16            Bonnie Comley     284
17                AnnieWatt     275
18         Eleanora Kennedy     272
19       Lucia Hwong Gordon     271
20          Kamie Lightburn     270
21               Annie Watt     269
22             Mario Buatta     263
23  Mayor Michael Bloomberg     258
24            Dayssi Olarte     249
25           Bettina Zilkha     243
26            Allison Aston     238
27             Stewart Lane     235
28         Deborah Norville     230
29              Lydia Fenet     229
..                      ...     ...
70                Directors     162
71             Gregory Long     161
72    Anne Hearst McInerney     161
73           Leonard Lauder     159
74          Richard Johnson     158
75    Adelina Wong Ettelson     156
76        Hilary Geary Ross     154
77       Frederick Anderson     153
78            Grace Meigher     153
79            Janna Bullock     152
80              Hunt Slonem     152
81                 Liz Peek     151
82            Barbara Regna     151
83               Susan Shin     151
84      Dawne Marie Grannum     149
85      Alexandra Lind Rose     149
86              John Demsey     149
87           Consul General     145
88          Deborah Roberts     143
89         Alexia Hamm Ryan     142
90          Nathalie Kaplan     142
91             Nina Griscom     141
92             Bette Midler     141
93              Fern Mallis     141
94             Lisa Anastos     141
95                 Standing     140
96           Patricia Shiah     140
97        President and CEO     139
98          Barbara Walters     139
99                   John J     139

[100 rows x 2 columns]

In [18]:
degreeres = map(lambda x,y: (x,y),degrees.name[0:100], degrees.number[0:100])

In [19]:
import pickle

In [20]:
with open('degreeres.pickle', 'wb') as f:
    pickle.dump(degreeres, f)

In [14]:
pr=nx.pagerank(Gg)
pranalysis=pd.DataFrame(pr.values(),index=pr.keys()).sort(0,ascending=False)