In [1]:
import pandas as pd
import networkx as nx
import itertools

In [2]:
df = pd.read_json("rawfilteredbydate.json")

In [3]:
df.head()

                                             caption       date
0           The Perlman Music Program Class of 2014  2014-08-22
1                  Toby Perlman addresses the crowd  2014-08-22
2   Itzhak Perlman and Catherine Cho perform with... 2014-08-22
3   Julian Beck, Lyn Barlow, Ted Ayala, Elinor He... 2014-08-22
4                           Toby Perlman and guests  2014-08-22

In [4]:
df["caption"] = df['caption'].apply(lambda x: x.replace("\n",""))

In [5]:
df = df[df['caption'].apply(lambda x: len(x)<=250)]

In [78]:
restr = ["The", "Dr", "Verdana", "Helvetica" ,"Chairman","Director",
         "Guests","President","Hospital","Special Surgery","Executive Director"
         ,"New York","Museum","Photographs","Children","The Society","Dinner",
        "Board Member","Castle","President and CEO","Directors","Clockwise","Doubles","BFAnyc","Standing",
        "Susan Magazine","Trustees","Chicago","Yugoslavia","Steering Committee"]

In [59]:
def replaceWord(s):
    for i in range(len(restr)):
        s = s.replace(restr[i],"")
    s = s.replace("and",",")
    return s

In [60]:
proper_noun_regex = r'([A-Z][A-Za-z-]*(,?\s+(\b(and|von|de|van der|van|der)\b))?(\s[A-Z][A-Za-z\'-]*)*)'

In [61]:
import re

In [79]:
G=nx.MultiGraph()
for caption in df.caption:
    name = []
    caption_temp  = re.findall(proper_noun_regex,caption)
    for j in range(len(caption_temp)):
        name_temp = caption_temp[j]
        if len(name_temp[0])>5:
            if name_temp[0] == "PatrickMcMullan":
                name.append("Patrick McMullan")
            elif name_temp[0] == "AnnieWatt":
                name.append("Annie Watt")
            elif "Mayor" in name_temp[0]:
                temp = name_temp[0].replace("Mayor ","")
                name.append(temp)
            else:
                name.append(name_temp[0])
        for word in restr:
            if word in name:
                name.remove(word)
    if len(name) > 2:
        _=[G.add_edge(c[0],c[1],weight=1) for c in itertools.combinations(name,2)]
    elif len(name) > 1:
        G.add_edge(name[0],name[1],weight=1)

In [80]:
Gg = nx.Graph()
for u,v,data in G.edges_iter(data=True):
    if Gg.has_edge(u,v):
        Gg[u][v]['weight'] += 1
    else:
        Gg.add_edge(u, v, weight=1)

## degrees

In [81]:
degrees=pd.DataFrame(G.degree().values(),index=G.degree().keys()).sort(0,ascending=False)

In [82]:
degrees = degrees.reset_index()

In [84]:
degrees[0:100]

                    index    0
0          Jean Shafiroff  674
1         Mark Gilbertson  536
2        Patrick McMullan  516
3         Gillian Miniter  459
4      Geoffrey Bradfield  409
5     Alexandra Lebenthal  392
6           Andrew Saffir  333
7         Debbie Bancroft  320
8             Sharon Bush  318
9           Somers Farkas  306
10          Yaz Hernandez  305
11              Alina Cho  300
12    Muffie Potter Aston  280
13          Bonnie Comley  280
14      Michael Bloomberg  277
15     Lucia Hwong Gordon  268
16        Kamie Lightburn  267
17       Eleanora Kennedy  267
18           Mario Buatta  257
19         Bettina Zilkha  238
20           Stewart Lane  231
21          Allison Aston  229
22               Rob Rich  223
23       Deborah Norville  222
24            Lydia Fenet  214
25           Dennis Basso  213
26        Daniel Benedict  212
27    Elizabeth Stribling  210
28          Jamee Gregory  207
29       Amy Fine Collins  197
..                    ...  ...
70            Hunt Slonem  149
71          Barbara Regna  149
72          Grace Meigher  149
73    Alexandra Lind Rose  148
74            John Demsey  147
75    Dawne Marie Grannum  147
76             Susan Shin  146
77        Nathalie Kaplan  142
78        Deborah Roberts  141
79       Alexia Hamm Ryan  140
80            Fern Mallis  140
81         Patricia Shiah  139
82           Bette Midler  138
83        Barbara Walters  138
84           Lisa Anastos  137
85     Beth Rudin DeWoody  136
86         Prince Dimitri  135
87           Martha Glass  135
88        Douglas Hannant  135
89           Nina Griscom  135
90     Georgina Schaeffer  134
91        Gerald Loughlin  134
92              Hoda Kotb  134
93       Margaret Russell  133
94           Alec Baldwin  133
95  Coralie Charriol Paul  132
96          Jay McInerney  132
97         Cynthia Lufkin  131
98         Wendy Carduner  131
99           Anna Wintour  129

[100 rows x 2 columns]

In [85]:
degrees.columns = ["name","number"]

In [86]:
degreeres = map(lambda x,y: (x,y),degrees.name[0:100], degrees.number[0:100])

In [87]:
import pickle

In [88]:
with open('degreeres.pickle', 'wb') as f:
    pickle.dump(degreeres, f)

In [14]:
pr=nx.pagerank(Gg)
pranalysis=pd.DataFrame(pr.values(),index=pr.keys()).sort(0,ascending=False)