In [1]:
import pandas as pd
import numpy as np

In [2]:
webExtract = pd.read_csv("data/nyc_inspection_data/WebExtract.txt").fillna(0)

/Users/yutongpang/.virtualenvs/sqlVen27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
webExtract.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINECODE,INSPDATE,ACTION,VIOLCODE,SCORE,CURRENTGRADE,GRADEDATE,RECORDDATE
0,30075445,MORRIS PARK BAKE SHOP,2,1007,MORRIS PARK AVE ...,10462.0,7188924968,8,2014-03-03 00:00:00,D,10F,2.0,A,2014-03-03 00:00:00,2014-09-04 06:01:28.403000000
1,30112340,WENDY'S,3,469,FLATBUSH AVENUE,11225.0,7182875005,39,2014-07-01 00:00:00,F,06A,23.0,B,2014-07-01 00:00:00,2014-09-04 06:01:28.403000000
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,10B,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000
3,40356483,WILKEN'S FINE FOOD,3,7114,AVENUE U,11234.0,7184443838,27,2014-05-29 00:00:00,D,08C,10.0,A,2014-05-29 00:00:00,2014-09-04 06:01:28.403000000
4,30191841,DJ REYNOLDS PUB AND RESTAURANT,1,351,WEST 57 STREET,10019.0,2122452912,3,2013-07-22 00:00:00,D,02G,11.0,A,2013-07-22 00:00:00,2014-09-04 06:01:28.403000000

In [4]:
webExtract["INSPDATE"] = pd.to_datetime(webExtract.INSPDATE)

In [5]:
#webExtract = webExtract.sort_values(by=["INSPDATE","SCORE"])

In [6]:
#webExtract = webExtract.groupby("CAMIS").last()

In [7]:
webExtract['CAMIS'] = webExtract.index

In [8]:
cuisinegroup = webExtract.groupby("CUISINECODE").agg({'CAMIS':{"number":lambda x: x.nunique()},"SCORE":{"mean":np.mean,"std":np.std}})

In [9]:
cuisinegroup.head()

                 SCORE              CAMIS
                   std       mean  number
CUISINECODE
0            19.847350  18.899281     139
1            14.715950  19.850163     307
2            19.608895  25.394779    1877
3            14.927886  19.829075  128372
4            10.788450  15.079268     656

In [10]:
cuisinegroup.columns = cuisinegroup.columns.droplevel(0)

In [11]:
cuisinegroup['std'] = cuisinegroup['std']/(cuisinegroup.number)**0.5

In [12]:
cuisinegroup = cuisinegroup.sort_values(by="mean")

In [13]:
cuisinegroup = cuisinegroup[cuisinegroup.number>100]

In [14]:
cuisinegroup.head()

                  std       mean  number
CUISINECODE
99           0.281050  11.051061    2781
42           0.972753  13.482143     168
75           0.411204  14.281145     594
33           0.446464  14.630000     300
29           0.142587  14.652194    6449

In [15]:
cuisine = pd.read_csv("data/nyc_inspection_data/Cuisine.txt")

In [16]:
cuisine.head()

   CUISINECODE   CODEDESC
0            2    African
1            3  American
2            5      Asian
3           15      Cajun
4           17  Caribbean

In [17]:
cuisinegroup["CUISINECODE"] = cuisinegroup.index

In [18]:
result = pd.merge(cuisinegroup, cuisine, on="CUISINECODE")

In [19]:
result[result.CODEDESC=="French"]

        std       mean  number  CUISINECODE CODEDESC
40  0.17683  20.354805    7576           35   French

In [32]:
cui = map(lambda x1,x2,x3,x4: (x1,x2,x3,x4) ,result.CODEDESC, result['mean'], result['std'], result.number)

In [33]:
cui[11]

('Caf\xe9/Coffee/Tea', 15.994683295044306, 0.10258473259987819, 15235)

In [27]:
cui[11] = ('Cafe/Coffee/Tea', 8.2528334786399302, 0.17138327968402459, 1147)

In [28]:
cui

[('Other', 11.051060769507371, 0.2810499493532852, 2781),
 ('Hotdogs/Pretzels', 13.482142857142858, 0.97275302465918034, 168),
 ('Soups & Sandwiches', 14.281144781144782, 0.41120364280059418, 594),
 ('Ethiopian', 14.630000000000001, 0.44646424638473392, 300),
 ('Donuts', 14.652194138626143, 0.14258747410534775, 6449),
 ('Hotdogs', 14.71822033898305, 0.44592994747111159, 472),
 ('Ice Cream, Gelato, Yogurt, Ices',
  14.730250990752973,
  0.19301212210536678,
  3785),
 ('Armenian', 15.079268292682928, 0.42121820555556011, 656),
 ('Cajun', 15.548387096774194, 0.64999641239546091, 186),
 ('Egyptian', 15.662125340599456, 0.63248674594367726, 367),
 ('Sandwiches', 15.712999099369558, 0.14508022097045123, 6662),
 ('Cafe/Coffee/Tea', 8.25283347863993, 0.1713832796840246, 1147),
 ('Juice, Smoothies, Fruit Salads',
  16.003679175864605,
  0.23709334099999477,
  2718),
 ('Sandwiches/Salads/Mixed Buffet',
  16.340146917917597,
  0.22012966721872634,
  3131),
 ('Hamburgers', 16.577529232333504, 0.13296257169829306, 7868),
 ('Bottled beverages, including water, sodas, juices, etc.',
  16.749287749287749,
  0.40177089760316764,
  1053),
 ('English', 17.336257309941519, 0.60003151416209688, 342),
 ('Middle Eastern', 17.706328375619716, 0.26525054912049068, 3429),
 ('Chicken', 17.836702546600158, 0.15340310946668903, 7618),
 ('Southwestern', 18.004830917874397, 0.72272075768288035, 207),
 ('German', 18.627986348122867, 0.39524461418470441, 879),
 ('Czech', 18.83969465648855, 1.1656573725857149, 131),
 ('Tapas', 18.868131868131869, 0.64732233201606759, 637),
 ('Not Listed/Not Applicable', 18.899280575539567, 1.6834302901709837, 139),
 ('Moroccan', 18.952054794520549, 0.88146324961606204, 292),
 ('Greek', 19.296904852884982, 0.27602220697968521, 2617),
 ('Scandinavian', 19.409395973154364, 0.84833002600083829, 149),
 ('Irish', 19.484177915468024, 0.20476103752931452, 4519),
 ('Salads', 19.583184257602863, 0.59625866879477529, 559),
 ('Tex-Mex', 19.680333564975676, 0.28694194165777204, 2878),
 ('Pancakes/Waffles', 19.75771971496437, 0.69099630466473816, 421),
 ('Barbecue', 19.811274509803923, 0.46019686050513919, 816),
 ('American ', 19.829074876141213, 0.041664211433742403, 128372),
 ('Afghan', 19.850162866449512, 0.83988360991772759, 307),
 ('Polish', 19.916666666666668, 0.46356631852391839, 732),
 ('Mediterranean', 19.940456578018356, 0.24522936853310204, 4249),
 ('Bagels/Pretzels', 19.978260869565219, 0.23419106104751919, 3726),
 ('Vegetarian', 20.008572869389813, 0.34245668644867999, 1983),
 ('Pizza', 20.068807514605368, 0.091781895622164003, 26189),
 ('Steak', 20.164041281912006, 0.38436349786978058, 1841),
 ('French', 20.354804646251321, 0.17683006556333705, 7576),
 ('Australian', 20.41732283464567, 1.1010657421630436, 254),
 ('Continental', 20.513432835820897, 0.45655331720949344, 1005),
 ('Filipino', 20.558260869565217, 0.5506982752815095, 575),
 ('Italian', 20.635133068216579, 0.093439329056468359, 26152),
 ('Eastern European', 20.784883720930232, 0.40014633797547766, 1548),
 ('Pizza/Italian', 20.862072146877018, 0.14078298702119457, 10839),
 ('Russian', 21.237182558696695, 0.38520480473699237, 2087),
 ('Brazilian', 21.240412979351031, 0.52449407539090809, 678),
 ('Seafood', 21.275090689238212, 0.29444090114006316, 3308),
 ('Turkish', 21.359666024405907, 0.40044031459746493, 1557),
 ('Indonesian', 21.455813953488374, 0.82654990623785518, 215),
 ('Mexican', 21.637887901208284, 0.11334361573301799, 18787),
 ('Jewish/Kosher', 21.667366211962225, 0.17414606400469343, 7624),
 ('Caribbean', 21.765419307654803, 0.12639276612244302, 16408),
 ('Bakery', 21.824580664836841, 0.12939031893391625, 16395),
 ('Spanish', 21.955502284815342, 0.13962732344600901, 13349),
 ('Soul Food', 22.223823246878002, 0.46162181808606811, 1041),
 ('Thai', 22.516481934648048, 0.17883487904210801, 6947),
 ('Japanese', 22.559875583203734, 0.1152267727094367, 18647),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
  22.928158858394049,
  0.10301362058183323,
  26489),
 ('Portuguese', 22.940350877192984, 1.0995876418106185, 285),
 ('Korean', 23.086021505376344, 0.19622211650371263, 7068),
 ('Delicatessen', 23.247045524612066, 0.16350627762762446, 9731),
 ('Vietnamese/Cambodian/Malaysia',
  23.448814655172413,
  0.37430774526246169,
  1856),
 ('Peruvian', 23.529473135106937, 0.39712072917161678, 1917),
 ('Indian', 23.866024096385541, 0.20146213583070174, 8300),
 ('Chinese', 23.942464820699048, 0.068326451467231555, 61684),
 ('Pakistani', 24.266265060240965, 0.63936689720665285, 830),
 ('Asian', 24.586526099254307, 0.21453271328818127, 7778),
 ('Chinese/Japanese', 25.0666161998486, 0.46144080145661565, 1321),
 ('African', 25.394778902503997, 0.45260671553001258, 1877),
 ('Bangladeshi', 25.443488943488944, 0.65399324240127099, 814),
 ('Chinese/Cuban', 26.248306997742663, 0.82974747670730142, 443),
 ('Creole', 28.960698689956331, 0.82631275123689962, 687)]

In [29]:
len(cuisinegroup)

75

In [30]:
import pickle

In [31]:
with open('cui.pickle', 'wb') as f:
    pickle.dump(cui, f)

In [35]:
'Caf\xe9/Coffee/Tea'.decode('iso-8859-1')

u'Caf\xe9/Coffee/Tea'